@model RML.ViewModels.DisplayLeagueViewModel

<link href="~/StyleSheet.css" rel="stylesheet" />

@*<div class="selectTeam">
        <label>Select Your Roster for Trade Information</label>
        @for (int i = 0; i < Model.Rosters.Count; i++)
        {
            @Html.LabelFor(modelItem => Model.Rosters[i].OwnerID)
            @Html.CheckBoxFor(modelItem => Model.Rosters[i].SelectedRoster)
        }
    </div>*@

<div class="rostersParent">
    @foreach (var roster in Model.Rosters)
    {
        //IF I WANT TO DO SPECIAL CSS on X ROSTERS<div class="homepageContainer" id="roster-@rosterCounter">
    <div id="roster">

        @*@if (roster.SelectedRoster)
        {
            <h3>Selected Roster!</h3>
        }*@

        <h4>@roster.DisplayName <br /></h4>

        <h4>Team Ranking: @roster.TeamRankingAverage</h4> <br />

        @*@foreach (var player in roster.PlayersOnRoster.OrderByDescending(o => o.Value.PORValue))
        {
            @player.Value.PORName<text> (</text>@player.Value.PORPosition<text>) :</text>
            @player.Value.PORValue  <br />
        }*@

        <div class="position-rankings">QB Ranking: @roster.QBRanking <text> - </text>@roster.QBRankingAverage </div> <br />
        @foreach (var player in roster.PlayersOnRoster.Where(o => o.Value.PORPosition == "QB").OrderByDescending(o => o.Value.PORValue))
        {
            @player.Value.PORName<text> (</text>@player.Value.PORPosition<text>) :</text>
            @player.Value.PORValue <br />
        }
        <br />
        <div class="position-rankings">RB Ranking: @roster.RBRanking <text> - </text>@roster.RBRankingAverage </div> <br />
        @foreach (var player in roster.PlayersOnRoster.Where(o => o.Value.PORPosition == "RB").OrderByDescending(o => o.Value.PORValue))
        {
            @player.Value.PORName<text> (</text>@player.Value.PORPosition<text>) :</text>
            @player.Value.PORValue <br />
        }
        <br />
        <div class="position-rankings">WR Ranking: @roster.WRRanking <text> - </text>@roster.WRRankingAverage </div> <br />
        @foreach (var player in roster.PlayersOnRoster.Where(o => o.Value.PORPosition == "WR").OrderByDescending(o => o.Value.PORValue))
        {
            @player.Value.PORName<text> (</text>@player.Value.PORPosition<text>) :</text>
            @player.Value.PORValue <br />
        }
        <br />
        <div class="position-rankings">TE Ranking: @roster.TERanking <text> - </text>@roster.TERankingAverage </div> <br />
        @foreach (var player in roster.PlayersOnRoster.Where(o => o.Value.PORPosition == "TE").OrderByDescending(o => o.Value.PORValue))
        {
            @player.Value.PORName<text> (</text>@player.Value.PORPosition<text>) :</text>
            @player.Value.PORValue <br />
        }

    </div>
    }
</div>

